body {
    font-size: 100.01%;
}

main {
    float: left;
    margin: 3%;
    width: 94%;
    padding: 0;
}

#printArea {
    font-size: 80%;
    border-left: 1px solid #ddd;
    padding-left: 1.5%;
    margin-top: 1.5%;
}

#ioArea{
    border-bottom: 1px solid #aaa;
    padding: 1.5%;
    background-color: #eee;

}